.container {
  margin: 0;
  padding: 20px;
  width: 600px;
  box-shadow: 1px 2px 3px 7px #5a5959;
  background: linear-gradient(to right bottom, #007673, #0e0066);
  border-radius: 10px;
}

h1 {
  font-size: 60px;
  text-align: center;
}
